<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <h2 [style.color]="'orange'">Gestor de Tareas 2DAW</h2>

    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/tareas">Tareas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/panel">Panel</a>
        </li>
        <li [style.color]="'orange'" class="nav-link">{{ totalTareas }} Tareas</li>
    </ul>
</nav>
